/* div {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
@import url("https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500&display=swap");
* {
  font-family: "Solway", serif;
}
.hero-container {
  background-color: #403d58;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
}

.hero-image {
  width: 100%; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0; /* Reset default margin */
}

.content-container {
  background-color: #dbd56e;
  padding: 50px;
  text-align: center;
}

.about-me {
  display: flex;
  align-items: center;
}

.about-me-content {
  flex: 1; /* Take up remaining space */
}

.headshot-container {
  margin-left: 20px; /* Adjust margin as needed */
}

.learn-more-btn {
  margin-top: 20px; /* Add margin to button */
}

.learn-more-btn {
  margin-top: 20px; /* Add space below paragraph */
}

/* Adjustments for small screens */
@media (max-width: 768px) {
  .content {
    flex-direction: column; /* Stack elements vertically on small screens */
  }

  .content img {
    margin-right: 0; /* Remove margin for image on small screens */
    margin-bottom: 20px; /* Add space between image and content on small screens */
  }
}
/* Accordion Styles */
.accordion {
  border-top: 1px solid #ddd; /* Separator between accordion items */
}

.accordion-item {
  border-bottom: 1px solid #ddd; /* Separator between accordion items */
}

.accordion-header {
  background-color: #f1f1f1; /* Header background color */
  padding: 10px;
  margin: 0;
}

.accordion-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  text-decoration: none; /* Remove default link underline */
}

.accordion-content {
  display: none; /* Hide content by default */
  padding: 10px;
}

/* Active state for open accordion item */
.accordion-item:target .accordion-content {
  display: block; /* Show content when item is active */
}

/* .content-container {
  background-color: #dbd56e;
  height: 600px;
}

.accordion-container {
  background-color: #fc7753;
  color: #fff;
  height: 600px;
}

.footer-container {
  background-color: #f2efea;
  width: 100%;
  height: 300px;
  position: relative;
} */
